<footer class="footer">
  <nav>
    <ul class="footer_menu">
      <li class="footer_menu-element">خريطة الموقع</li>
      <li class="footer_menu-element">اتصل بنا</li>
      <li class="footer_menu-element">المواقع</li>
      <li class="footer_menu-element">مساعدة</li>
      <li class="footer_menu-element">الأسئلة الشائعة</li>
      <li class="footer_menu-element">English</li>
    </ul>
  </nav>
  <section class="footer_terms">
    <div class="footer_terms_div">
      <p class="footer_terms_div-p">سياسة الأمن عبر الإنترنت</p>
      <span class="footer_terms_div-span">|</span>
      <p class="footer_terms_div-p">الاتفاقيات والشروط والأحكام</p>
    </div>
    <p class="footer_terms_copyright"> النشر © 2020 بنك كل الحقوق محفوظة</p>
  </section>
</footer>