<main class="main">

  <section class="main_container">

    <section class="main_container_header">
      <img class="main_container_header-img" src="./assets/images/logo_bank.png" alt="Bank icon">
    </section>

    <section class="main_container_body">

      <div class="main_container_body_title">
        <img src="./assets/images/logo_bank2.png" alt="bank icon">
      </div>

      <form class="main_container_body_form">
        <input class="main_container_body_form-input" type="text" placeholder="Please:Tell us what you are looking for">
        <button class="main_container_body_form-btn">Search</button>
      </form>

    </section>

    <section class="main_container_gallery">

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav1.png" alt="Home icon">
        <p class="main_container_gallery_box-p">Home</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav2.png" alt="Accounts icon">
        <p class="main_container_gallery_box-p">Accounts</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav3.png" alt="Transfers icon">
        <p class="main_container_gallery_box-p">Transfers</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav6.png" alt="Payments icon">
        <p class="main_container_gallery_box-p">Payments</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav4.png" alt="Cards icon">
        <p class="main_container_gallery_box-p">Credit Cards</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav5.png" alt="Funds icon">
        <p class="main_container_gallery_box-p">Mutual Funds</p>
      </div>

      <div class="main_container_gallery_box">
        <img class="main_container_gallery_box-img" src="./assets/images/i-nav7.png" alt="Services icon">
        <p class="main_container_gallery_box-p">Services</p>
      </div>

    </section>

    <section class="main_container_footer">
      <p class="main_container_footer-p">Home<span class="main_container_footer-span"> :Your are in</span></p>
    </section>

  </section>

  <aside class="main_aside">

    <section class="main_aside_user">

      <div class="main_aside_user_name">
        <h1 class="main_aside_user_name-h1">Hadi Farûq</h1>
        <p class="main_aside_user_name-p">Last Logon: <span class="main_aside_user_name-span">20/02/2020 7:21:15
            AM</span></p>
      </div>

      <div class="main_aside_user_options">

        <div class="main_aside_user_options-icon">
          <img class="main_aside_user_options-icon-img" src="./assets/images/b-cr-img1.png" alt="Mechanic icon">
          <p class="main_aside_user_options-icon-p">My Al Mubasher</p>
        </div>

        <div class="main_aside_user_options-icon">
          <img class="main_aside_user_options-icon-img" src="./assets/images/b-cr-img2.png" alt="Email icon">
          <p class="main_aside_user_options-icon-p">My Mailbox <span>(3 unread emails)</span></p>
        </div>

      </div>

    </section>

    <section class="main_aside_status">

      <div class="main_aside_status_help">
        <h1 class="main_aside_status_help-h1">?...Did you know</h1>
        <div class=" main_aside_status_help-cube">--</div>
      </div>

      <div class="main_aside_status_demo">

        <p class="main_aside_status_demo-description">You can customize "My status" by rearranging the modules.</p>

        <div class="main_aside_status_demo_cta">
          <p class="main_aside_status_demo_cta-p">Watch demo</p>
          <img class="main_aside_status_demo_cta-tv" src="./assets/images/i-w-watch.png" alt="tv icon">
        </div>
      </div>

    </section>

  </aside>
</main>